# Roger Ribeiro Fava Pina

### Pergunta: Países com alto IDH tendem a ter maior preocupação quanto a saúde da população com HIV ? E como o número de médicos entra nisso ?


Banco de Dados

idh = Índice de Desenvolvimento Humano

hiv = Mortes Anuais por HIV

med = Médicos por 1000 pessoas

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

data = pd.read_excel('Base.xlsx')
data.head(15)

            geo  2009_idh  2009_hiv  2009_med
0   Afghanistan     0.448       350     0.222
1       Algeria     0.714       600       NaN
2        Angola     0.488     11000     0.144
3     Argentina     0.802      2900       NaN
4       Armenia     0.720       350     2.680
5     Australia     0.927       150     2.880
6       Austria     0.872        60       NaN
7    Azerbaijan     0.737       350     3.780
8       Bahamas     0.788       350       NaN
9    Bangladesh     0.535       120     0.345
10     Barbados     0.781        60       NaN
11      Belarus     0.780      1000     3.700
12      Belgium     0.878        60       NaN
13       Belize     0.700       350     0.768
14        Benin     0.451      2700       NaN